*.pkl
*.tif
*.cpg
*.prj
*.shx
*.shp
*.DS_Store
.ipynb_checkpoints/
__pycache__/
Drone Classification/data/__pycache__/__init__.cpython-310.pyc
Drone Classification/data/__pycache__/MemoryMapDataset.cpython-310.pyc
/Drone Classification/models/__pycache__
.venv/
