*.pkl
*.tif
*.cpg
*.prj
*.shx
*.shp
*.DS_Store
.ipynb_checkpoints/
__pycache__/
*.cpython-310.pyc
*/__pycache__
.venv/
.vscode/settings.json
DroneClassification/human_infra/data/landcover.ai.v1/*
DroneClassification/human_infra/data/0_5m/*
DroneClassification/human_infra/weights/*
*.pth