*.pkl
*.tif
*.cpg
*.prj
*.shx
*.shp
*.DS_Store
.ipynb_checkpoints/
__pycache__/
*.cpython-310.pyc
*/__pycache__
.venv/
.vscode/settings.json
DroneClassification/bio_infra/data/landcover.ai.v1/*
DroneClassification/bio_infra/data/0_5m/*
DroneClassification/bio_infra/weights/*
DroneClassification/bio_infra/data/cvat_export/*
*.pth
\0_5m