# Geospatial
fiona>=1.10.1
geopandas>=1.1.1
pyproj>=3.7.2
rasterio>=1.4.3
shapely>=2.1.2

# Data & Visualization
matplotlib>=3.10.7
numpy>=2.3.3
pandas>=2.3.3
pillow>=11.3.0
seaborn

# ML & Transformers
scikit-learn
torch>=2.8.0
torchvision>=0.23.0
transformers>=4.57.0
huggingface-hub>=0.35.3

# Utilities
scipy
tqdm>=4.67.1
ipywidgets